body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 200px;
}

div {
    margin: 100px 0;
}

.circle { 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
}

.semi-circle {
    height: 100px;
    width: 200px;
    border-radius: 100px 100px 0 0;
    background-color: black;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 200px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.trapezium {
    width: 100px;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.parallelogram {
    height: 120px;
    width: 200px;
    background: black;
    transform: skew(20deg);
}

.hexagon {
    position: relative;;
    width: 100px;
    height: 0;
    border-top: 120px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: -240px;
    left: -100px;
    width: 100px;
    height: 0;
    border-bottom: 120px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.drop {
    height: 200px;
    width: 200px;
    background: black;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
}

.diamond {
    border-style: solid;
    border-color: transparent transparent black transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
}

.diamond::after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

.cross {
    background: black;
    height: 100px;
    position: relative;
    width: 20px;
    transform: rotate(45deg);
}

.cross::after {
    background: black;
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    left: -40px;
    top: 40px;
}

.egg {
    width: 100px;
    height: 150px;
    background-color: black;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.star {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 160px solid black;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}

.star::after {
    content: "";
    position: absolute;
    left: -100px;
    top: 50px;
    height: 0;
    width: 0;
    border-top: 160px solid black;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.moon {
    width: 120px;
    height: 120px;
    /* background-color: red; */
    border-radius: 50%;
    box-shadow: 22px 22px 0 0 black;
}

.coffee {
    position: relative;
    background: black;
    height: 50px;
    width: 100px;
    border-radius: 20px 20px 200px 200px;
}

.coffee::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    border-radius: 50%;
    background: black;
    z-index: -1;
    bottom: -6px;
}

.coffee::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: gray;
    left: 30px;
    top: -24px;
    filter: blur(4px);
    box-shadow: 0px -20px 4px -1px gray, -20px -24px 4px gray, 22px -4px 4px -2px gray, 20px -34px 4px -2px gray;
}

.stand {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 4px solid black;
    border-radius: 50% 10px 20px 50%;
    right: -10px;
    top: -88px;
}

.infinity {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.infinity::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border: 20px solid black;
    border-radius: 50% 50% 50% 0;
    transform: rotate(45deg);
}

.infinity::after {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border: 20px solid black;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(45deg);
    left: -200px;
}